/* ========== Сброс от Преподавателя ======== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* ======== Конец Сброс от Преподавателя ====== */

.title {
  font-family: 'Titan One', sans-serif;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

body {
  background-color: var(--bg-color-base);
  color: var(--txt-color-base);
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.04em;
}
