<section class="about" id="about">
    <div class="milk"></div>
        <div class="about__container container">
            <p class="about__text label-title">tradition and love</p>
            <h2 class="about__title primary-title">how it’s made?</h2>
        </div>
            <div class="cow container">
                <picture>
                    <source
                    srcset="
                    ./images/mobile/cow-milk-mobile.png 1x,
                    ./images/mobile/cow-milk-mobile-2x.png  2x
                    "
                    media="(min-width: 320px) and (max-width: 767px)"
                    />
                    <source
                    srcset="
                    ./images/tablet/cow-milk-tablet.png    1x,
                    ./images/tablet/cow-milk-tablet-2x.png 2x
                    "
                    media="(min-width: 768px)and (max-width: 1199px)"
                    />
                    <source
                    srcset="
                        ./images/desktop/cow-milk-desktop.png   1x,
                        ./images/desktop/cow-milk-desktop-2x.png 2x
                    "
                    media="(min-width: 1200px)"
                    />
                    <img
                    src="./images/mobile/cow-milk-mobile.png"
                    alt="Коровье молоко"
                    class="cow__img"
                    />
                </picture>
    
        <div class="cow__pre">
            <p class="cow__title">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
            cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
            justo fringilla.
            </p>
            <p class="cow__text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
            Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
            suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
            tincidunt.
            </p>
            <p class="cow__text__secondary">
            Aliquam erat volutpat. Aenean accumsan.
            </p>
            <button class="btn button btn--second" data-modal-open-about>
            Read more
            <svg class="btn__icon">
                <use href="./images/sprite.svg#right"></use>
            </svg>
            </button>
        </div>
        </div>
</section>
<div class="backdrop" data-modal-about>
    <div class="about-modal">
        <h3 class="primary-title">How to Store Ice Cream</h3>
        <p class="cow__text">Ice cream should be kept as cold as possible during its transport from the store to home. 
            The process of melting and refreezing can create large ice crystals and reduce its smooth texture, 
            making it hard to scoop and giving it an odd feel.</p>
        <p class="cow__text">Store ice cream in the main compartment of your freezer, rather than the door, to make sure it stays well below its freezing point. 
            Items in the freezer door are repeatedly exposed to warmer air when the door is opened, 
            which can cause a thaw and refreeze cycle and lower the texture quality of the ice cream.</p>
        <p class="cow__text">To prevent ice crystals and rogue flavors from absorbing into your ice cream after opening, 
            simply press a piece of plastic wrap onto the surface of the ice cream and then replace the lid. This will provide a barrier from air and moisture while it is stored in the freezer. For the best flavor and texture, consume ice cream within a month of purchase.</p>
        <button class="btn-modal button close btn--first" data-modal-close-about>Close</button>
    </div>
</div>