<section class="advantages" id="advantages">
    <h2 class="advantages__search">Advantages</h2>
    <div class="advantages__container container">
        <ul class="advantages__list">
            <li class="advantages__text icon-milkbucket">
                <p class="advantages__title primary-title">721</p>
                <p class="advantages__inventory">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__text icon-applebucket">
                <p class="advantages__title primary-title">16kg</p>
                <p class="advantages__inventory">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__text icon-lovemilk">
                <p class="advantages__title primary-title">84</p>
                <p class="advantages__inventory">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>