<section class="contact section" id="contacts">
<div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contact-list">
    <li class="contact-item">
        <div class="contact-item__card">
         <b class="contact-item__subtitle">CAFE</b>
          <ul class="contact-info">

              <li class="contact-info__item">
                <b class="contact-info__subtitle">Chicago</b> 
                 <p class="contact-info__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>               
              </li>
              <li class="contact-info__item contact-info__item-main">

                <ul>
                    <li class="contact-info__schedule">
                        <b class="contact-info__subtitle">Monday - Friday</b>
                        <p class="contact-info__time time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contact-info__schedule">
                        <b class="contact-info__subtitle">Saturday - Sunday</b>
                        <p class="contact-info__time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>

              </li>
              <li class="contact-info__item">

                <ul class="contact-info__nav">
                    <li class="contact-info__address">
                        <a href="tel:+61(0) 383 766 284" class="contact-info__address-link">+61(0) 383 766 284</a></li>
                    <li class="contact-info__address">
                        <a href="mailto:noreply@envato.com" class="contact-info__address-link">noreply@envato.com</a></li>
                </ul>
              </li>
          </ul>
        </div>
    </li>
    <li class="contact-item marg-main">
        <div class="contact-item__card">
         <b class="contact-item__subtitle-main">FOOD TRUCK</b>
            <ul class="contact-info">
                <li class="contact-info__item">
                  <b class="contact-info__subtitle">Los Angeles</b>
                   <p class="contact-info__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li class="contact-info__item contact-info__item-main">
                    <ul>
                        <li class="contact-info__schedule">
                            <b class="contact-info__subtitle">Monday - Friday</b>
                            <p class="contact-info__time time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact-info__schedule">
                            <b class="contact-info__subtitle">Saturday - Sunday</b>
                            <p class="contact-info__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="contact-info__item">
                <ul class="contact-info__nav">
                    <li class="contact-info__address">
                        <a href="tel:+61(0) 383 766 284" class="contact-info__address-link">+61(0) 383 766 284</a>
                    </li>
                    <li class="contact-info__address">
                        <a href="mailto:noreply@envato.com" class="contact-info__address-link">noreply@envato.com</a>
                    </li>
                </ul>
                </li>
            </ul>
        </div>
    </li>
    <li class="contact-item">
        <div class="contact-item__card">
        <b class="contact-item__subtitle">CAFE</b>
            <ul class="contact-info">
                <li class="contact-info__item">
                    <b class="contact-info__subtitle">New York</b>
                    <p class="contact-info__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <li class="contact-info__item contact-info__item-main">
                    <ul>
                        <li class="contact-info__schedule">
                            <b class="contact-info__subtitle">Monday - Friday</b>
                            <p class="contact-info__time time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact-info__schedule">
                            <h4 class="contact-info__subtitle">Saturday - Sunday</h4>
                            <p class="contact-info__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </li>
                <li class="contact-info__item">
                    <ul class="contact-info__nav">
                        <li class="contact-info__address">
                            <a href="tel:+61(0) 383 766 284" class="contact-info__address-link">+61(0) 383 766 284</a>
                        </li>
                        <li class="contact-info__address">
                            <a href="mailto:noreply@envato.com" class="contact-info__address-link">noreply@envato.com<
                </li>
            </ul>
        </div>
    </li>
    </ul>
    <ul class="buttons">
    <li class="buttons-list">
        <button type="button" class="button btn--first button-top" data-modal-open-cont>Our Locations<svg width="7px" height="16px" class="svg-top"><use href="./images/vector.svg#icon-vector-1"></use></svg></button>
    </li>
    <li class="buttons-list">
        <button type="button" class="button btn--second button-bot" data-modal-open-cont>Franchise<svg width="7px" height="16px" class="svg-top">
            <use href="./images/vector-left.svg#icon-Vector-1-1"></use>
        </svg>
    </button>
    </li>
    </ul>
</div>
</section>
<div class="backdrop-contact is-hidden" data-modal-cont>
    <div class="modal">
        <button type="button" class="button close-buttn" data-modal-close-cont>
            <svg height="16px" width="16px" class="icon-close">
                <use href="./images/sprite.svg#close"></use>
            </svg>
        </button>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44529.554867090825!2d-87.70148236396936!3d41.893808819046015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e3330b49fb335%3A0xb46fa1274dbc6fbf!2sIce%20Cream%20Bar!5e0!3m2!1suk!2sua!4v1630594092050!5m2!1suk!2sua"
         style="border:0;" allowfullscreen="" loading="lazy" class="map"></iframe>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d146405.422600644!2d-118.47461038950634!3d34.04454099236075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bb7f17ffa3ff%3A0xf291764513875402!2sSaffron%20%26%20Rose%20Ice%20Cream!5e0!3m2!1suk!2sua!4v1630594018081!5m2!1suk!2sua"
             style="border:0;" allowfullscreen="" loading="lazy" class="map"></iframe>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37850.79764472006!2d-74.00322129181234!3d40.7198407407227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259e713d43875%3A0xbfd5eb3c3e1bb328!2sMuseum%20of%20Ice%20Cream!5e0!3m2!1suk!2sua!4v1630593937046!5m2!1suk!2sua"
     style="border:0;" allowfullscreen="" loading="lazy" class="map"></iframe>
           
    </div>
</div>
