<section class="footer section">
    <div class="container">
        <div class="footer-top">
            <div class="footer-slogan">
                <p class="footer-slogan_top">homemade ice cream made</p>
                <p class="footer-slogan_bottom">with passion</p>
            </div>
            
            <div class="footer-top_right">
                <ul class="footer-social_list list">
                    <li class="footer-social_item">
                        <a class="footer-social_link" href="https://github.com/" target="_blank" rel="noreferrer noopener" aria-label="github icon">
                            <svg class="footer-social_icon">
                                <use href="./images/sprite.svg#github"></use>
                            </svg>
                        </a>
                    </li>
            
                    <li class="footer-social_item">
                        <a class="footer-social_link" href="https://telegram.org/" target="_blank" rel="noreferrer noopener" aria-label="telegram icon">
                            <svg class="footer-social_icon">
                                <use href="./images/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
            
                    <li class="footer-social_item">
                        <a class="footer-social_link" href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener" aria-label="facebook icon">
                            <svg class="footer-social_icon">
                                <use href="./images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            
                <a class="footer-contact_link link" href="tel:+610383766284">
                    <span class="footer-contact_text">Feel free to contact</span>
                     +61 (0) 383 766 284</a>
            </div>
        </div>
        <div class="footer-copyright">
            <p class="footer-copyright_text">&#169; 2019 - IceCream. All Rights Reserved.</p>
        </div>
    </div>
</section>