<section class="gallery">
  <div class="container">
    <div>
      <picture>
          <source srcset="./images/desktop/gallery-desktop.png 1x, ./images/desktop/gallery-desctop-2x.png 2x"
            media="(min-width: 1280px)">
          <source srcset="./images/desktop/webp/gallery-desktop.webp 1x, ./images/desktop/webp-2x/gallery-desctop-2x.webp 2x"
                media="(min-width: 1280px)">
          <source srcset="./images/tablet/gallery-tablet.png 1x, ./images/tablet/gallery-tablet-2x.png 2x"
           media="(min-width: 768px)">
          <source srcset="./images/tablet/webp/gallery-tablet.webp 1x, ./images/tablet/webp-2x/gallery-tablet-2x.webp 2x"
            media="(min-width: 768px)">
          <source srcset="./images/mobile/gallery-mobile.png 1x, ./images/mobile/gallery-mobile-2x.png 2x"
            media="(max-width: 767px)"> 
          <source srcset="./images/mobile/webp/gallery-mobile.webp 1x, ./images/mobile/webp-2x/gallery-mobile-2x.webp 2x"
            media="(max-width: 767px)">
      <img src="#" alt="ten different images with the image of appetizing ice cream " class="gallery__picture">
      </picture>
      </div>
      </div>
      </section>