<section class="products section" id="products">
    <div class="container products-container">
        <b class="products-secondary-title title">100% natural</b>
        <h2 class="products-title title">products</h2>

        <ul class="products-list list">
            <li class="products-item">
                <div class="products-card-inner">

                    <div class="card-frontside">
                        <picture class="picture">

                            <source
                                srcset="./images/desktop/webp/ice-cream-desktop.webp 1x, ./images/desktop/webp-2x/ice-cream-desktop-2x.webp 2x"
                                media="(min-width: 1280px)" type="image/webp">
                            <source
                                srcset="./images/desktop/ice-cream-desktop.png 1x, ./images/desktop/ice-cream-desktop-2x.png 2x"
                                media="(min-width: 1280px)">

                            <source
                                srcset="./images/tablet/webp/ice-cream-tablet.webp 1x, ./images/tablet/webp-2x/ice-cream-tablet-2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./images/tablet/ice-cream-tablet.png 1x, ./images/tablet/ice-cream-tablet-2x.png 2x"
                                media="(min-width: 768px)">

                            <source
                                srcset="./images/mobile/webp/ice-cream-mobile.webp 1x, ./images/mobile/webp-2x/ice-cream-mobile-2x.webp 2x"
                                media="(max-width: 767px)" type="image/webp">
                            <source
                                srcset="./images/mobile/ice-cream-mobile.png 1x, ./images/mobile/ice-cream-mobile-2x.png 2x"
                                media="(max-width: 767px)">

                            <img src="#" alt="ice cream" class="products-img">

                        </picture>
                        <h3 class="products-item-subtitle title">ice cream</h3>
                        <p class="products-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et</p>
                        <button type="button" class="products-card-button roll">
                            <svg class="swap-button-icon" width="10" height="10">
                                <use href="./images/sprite.svg#right-arrow"></use>
                            </svg>
                        </button>
                    </div>

                    <div class="card-backside">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet expedita ullam fuga ea,
                            ut
                            ducimus explicabo officiis quas porro dolor?</span>
                        <button type="button" class="products-card-button rollBack">
                            <svg class="swap-button-icon" width="10" height="10">
                                <use href="./images/sprite.svg#left-arrow"></use>
                            </svg>
                        </button>
                    </div>

                </div>
            </li>

            <li class="products-item">
                <div class="products-card-inner">
                    <div class="card-frontside">
                        <picture class="picture">

                            <source
                                srcset="./images/desktop/webp/ice-coffee-desktop.webp 1x, ./images/desktop/webp-2x/ice-coffee-desktop-2x.webp 2x"
                                media="(min-width: 1280px)" type="image/webp">
                            <source
                                srcset="./images/desktop/ice-coffee-desktop.png 1x, ./images/desktop/ice-coffee-desktop-2x.png 2x"
                                media="(min-width: 1280px)">

                            <source
                                srcset="./images/tablet/webp/ice-coffee-tablet.webp 1x, ./images/tablet/webp-2x/ice-coffee-tablet-2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./images/tablet/ice-coffee-tablet.png 1x, ./images/tablet/ice-coffee-tablet-2x.png 2x"
                                media="(min-width: 768px)">

                            <source
                                srcset="./images/mobile/webp/ice-coffee-mobile.webp 1x, ./images/mobile/webp-2x/ice-coffee-mobile-2x.webp 2x"
                                media="(max-width: 767px)" type="image/webp">
                            <source
                                srcset="./images/mobile/ice-coffee-mobile.png 1x, ./images/mobile/ice-coffee-mobile-2x.png 2x"
                                media="(max-width: 767px)">

                            <img src="#" alt="ice cofee" class="products-img">

                        </picture>
                        <h3 class="products-item-subtitle title">ice coffee</h3>
                        <p class="products-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et</p>
                        <button type="button" class="products-card-button roll">
                            <svg class="swap-button-icon" width="10" height="10">
                                <use href="./images/sprite.svg#right-arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="card-backside">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet expedita ullam fuga ea,
                            ut
                            ducimus explicabo officiis quas porro dolor?</span>
                        <button type="button" class="products-card-button rollBack">
                            <svg class="swap-button-icon" width="10" height="10">
                                <use href="./images/sprite.svg#left-arrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </li>

            <li class="products-item">
                <div class="products-card-inner">
                    <div class="card-frontside">
                        <picture class="picture">

                            <source
                                srcset="./images/desktop/webp/milkshakes-desktop.webp 1x, ./images/desktop/webp-2x/milkshakes-desktop-2x.webp 2x"
                                media="(min-width: 1280px)" type="image/webp">
                            <source
                                srcset="./images/desktop/milkshakes-desktop.png 1x, ./images/desktop/milkshakes-desktop-2x.png 2x"
                                media="(min-width: 1280px)">

                            <source
                                srcset="./images/tablet/webp/milkshakes-tablet.webp 1x, ./images/tablet/webp-2x/milkshakes-tablet-2x.webp 2x"
                                media="(min-width: 768px)" type="image/webp">
                            <source
                                srcset="./images/tablet/milkshakes-tablet.png 1x, ./images/tablet/milkshakes-tablet-2x.png 2x"
                                media="(min-width: 768px)">

                            <source
                                srcset="./images/mobile/webp/milkshakes-mobile.webp 1x, ./images/mobile/webp-2x/milkshakes-mobile-2x.webp 2x"
                                media="(max-width: 767px)" type="image/webp">
                            <source
                                srcset="./images/mobile/milkshakes-mobile.png 1x, ./images/mobile/milkshakes-mobile-2x.png 2x"
                                media="(max-width: 767px)">

                            <img src="#" alt="milkshakes" class="products-img">

                        </picture>
                        <h3 class="products-item-subtitle title">milkshakes</h3>
                        <p class="products-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et</p>
                        <button type="button" class="products-card-button roll">
                            <svg class="swap-button-icon" width="10" height="10">
                                <use href="./images/sprite.svg#right-arrow"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="card-backside">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet expedita ullam fuga ea,
                            ut
                            ducimus explicabo officiis quas porro dolor?</span>
                        <button type="button" class="products-card-button rollBack">
                            <svg class="swap-button-icon" width="10" height="10">
                                <use href="./images/sprite.svg#left-arrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>