<section class="customer-rev">
    <div class="container">
        <h2 class="customer-reviews visually-hidden">Customer review</h2>
        <div class="customer-rev-list slider">
            <div class="customer-rev-item slider-item">
                <picture class="customer-picture">
                    <source srcset="./images/customer1-rev-image.png 1x, ./images/customer1-rev-image-2x.png 2x" media="">
                    <img src="#" alt="Customer face" class="customer-image">
                </picture>
                    <div class="customer-text-decoration">
                    <p class="customer-text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                    </div>
                <div class="customer-wrap">
                <span class="customer-description">
                    Emily, Los Angeles
                </span>
                </div>
            </div>
                <div class="customer-rev-item slider-item">
                    <picture class="customer-picture">
                    <source srcset="./images/customer2-rev-image.png 1x, ./images/customer2-rev-image-2x.png 2x" media="">
                    <img src="#" alt="Customer face" class="customer-image">
                    </picture>
                    <div class="customer-text-decoration">
                    <p class="customer-text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                    </div>
                    <div class="customer-wrap">
                    <span class="customer-description">
                        Emily, Los Angeles
                    </span>
                    </div>
                </div>
            <div class="customer-rev-item slider-item">
                <picture class="customer-picture">
                    <source srcset="./images/customer3-rev-image.png 1x, ./images/customer3-rev-image-2x.png 2x" media="">
                    <img src="#" alt="Customer face" class="customer-image">
                </picture>
                    <div class="customer-text-decoration">
                    <p class="customer-text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                    </div>
                    <div class="customer-wrap">
                    <span class="customer-description">
                        Emily, Los Angeles
                    </span>
                    </div>
            </div>
        </div>
    </div>
    
</section>