.customer-rev {
  padding-top: 80px;
  padding-bottom: 86px;
  @media screen and (min-width: 768px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}
.customer-rev-list {
  margin: 0 auto;
  max-width: 280px;
  @media screen and (min-width: 768px) {
    max-width: 620px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 926px;
  }
}
.customer-rev-item {
  display: block;
  margin: 0 auto;
  padding: 0 50px;
}
.customer-text-decoration {
  position: relative;
}

.customer-image {
  margin: 0 auto 57px auto;
}

.customer-text {
  color: #000000;

  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  /* or 31px */
  z-index: 100;
  padding: 0 9px;
  margin: 0 auto;
  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1,
    #e1e1e1 1px,
    #ffffff 1px,
    #ffffff 30px
  );

  @media screen and (min-width: 768px) {
    // max-width: 460px;
    font-size: 14px;
    line-height: 2.16;
    /* or 30px */
    padding: 0 40px 0 20px;
    background-image: repeating-linear-gradient(
      to top,
      #e1e1e1,
      #e1e1e1 1px,
      #ffffff 1px,
      #ffffff 30px
    );
  }
  @media screen and (min-width: 1280px) {
    max-width: 750px;
    padding: 0 35px 0 28px;
    font-size: 16px;
    line-height: 1.86;
    /* or 30px */
    background-image: repeating-linear-gradient(
      to top,
      #e1e1e1,
      #e1e1e1 1px,
      #ffffff 1px,
      #ffffff calc(16px * 1.86)
    );
  }
}
.customer-text::before {
  content: '';

  display: block;
  z-index: 0;
  background-image: url('../images/quotes-right.png');
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: contain;
  width: 54px;
  height: 40px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  transform: translate(-5%, -50%);
  @media screen and (min-width: 768px) {
    transform: translate(-50%, -50%);
  }
  @media screen and (min-width: 1280px) {
    transform: translate(60%, -50%);
  }
}

.customer-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  /* or 26px */

  margin: 0 auto;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.86;
    /* or 30px */
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.86;
    /* or 37px */
  }
}
.customer-wrap {
  display: flex;
  flex-direction: column;

  &::before {
    display: block;
    content: url('../images/three-dots-pink.png');
    width: 32px;
    height: 4px;
    margin: 47px auto 18px auto;
  }
}

.slider-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.slider-dots li:not(:last-child) {
  margin-right: 18px;
}
.slider-dots button {
  padding: 0;
  font-size: 0;
  line-height: 0;
  color: transparent;
  background-color: transparent;
  border: none;
}
.slider-dots button::before {
  content: '';
  display: block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
}

.slider-dots li.slick-active button::before {
  // background-color: tomato;
  content: '';
  display: block;
  border-radius: 0;
  background-image: url('../images/home-slider.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
